body{
    background-color: bisque;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 80%;    
    height: 800px;
    border: 2px solid #333;
}


button{
    font-size: 25px;
    border-radius: 12%;
    background-color: lightcyan;
    padding: 8px;
    margin-bottom: 40px;
}

button:hover{
    background-color: lightblue;
    font-size: 30px;
}